.nav-container {
    background-color: rgba(162, 117, 117, 0.9);
}
.menuIcon {
    background: transparent;
    border: "none";
    position: fixed;
    -webkit-overflow-scrolling: touch;
    width: 3rem;
    height: 1.6rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.menu {
    width: 30%;
    height: 100vh;
}
