.projects-container {
    /* background-color: rgba(78, 115, 238); */
    background-color: #a0b3c1;
    text-align: center;
    padding-bottom: 3rem;
}
.project-title {
    font-size: 40px;
    color: #2f5d8c;
    letter-spacing: 0.5rem;
    line-height: 4rem;
}
.project-subtitle {
    font-size: 20px;
    color: #2f5d8c;
    letter-spacing: 0.18rem;
    margin-bottom: 3rem;
}

.CardContainer {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    row-gap: 30px;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

/* -----------Media Query Iphone --------- */
@media (max-width: 480px) {
    .project-title {
        font-size: 20px;

        margin-left: 2rem;
        line-height: 6rem;
    }
}
